{% extends "bases/base-with-header.html" %}

{% block content %}

<template id="tmpl-comment-item">
    <li class="media my-4">
        <img src="[[author.avatar_url]]" class="rounded-circle mr-3">
        <div class="media-body">
            [[#reply_to]]
            <small class="text-primary">{% trans 'Reply to' %} [[reply_to.nickname]]</small><br>
            [[/reply_to]]
            [[content]]
            <p class="text-muted">
                <small class="mt-1 mb-0">
                    <a href="[[author.url]]">[[author.nickname]]</a>&nbsp;&middot;
                    <time class="timeago" datetime="[[posted]]"></time>
                    [[#can_reply]]
                    <button class="btn btn-link btn-sm btn-reply" data-id="[[author.id]]" data-nickname="[[author.nickname]]">Reply</button>
                    [[/can_reply]]
                </small>
            </p>
        </div>
    </li>
</template>

<div class="container-fluid mt-3 px-0">
    <article class="col-md-8 offset-md-2 px-0">
        <section class="title">
            <h4 class="mb-0">{{article.title}}</h4>
        </section>
        <section class="box pb-0">
            <small class="d-block text-right">
                {% if perms.articles.can_verify %}
                <span>
                    {% if article.status != 'rejected' %}
                    <a class="text-danger" id="reject" href="javascript:void(0)">{% trans 'Reject' %}</a>
                    {% endif %}
                    {% if article.status != 'verified' %}
                    <a class="text-success" id="accept" href="javascript:void(0)">{% trans 'Accept' %}</a>
                    {% endif %}
                </span>
                {% endif %}
                {% has_perm 'articles:change_article' user article as can_change_article %}
                {% if can_change_article %}
                <a href="/articles/edit/{{article.id}}/" class="">{% trans 'Edit' %}</a>
                <a href="javascript:void(0)" id="delete-article" class="text-danger">{% trans 'Delete' %}</a>
                {% endif %}
            </small>
        </section>
        <section class="box">
            {% if article.is_article %}
            {{article.content|safe}}
            {% else %}
            <div class="list-group">
            {% for attachment in article.attachments.all %}
                <a href="{{attachment.url}}" class="list-group-item list-group-item-action" target="_blank">{{attachment.name}}</a>
            {% endfor %}
            </div>
            {% endif %}
        </section>
        <section class="box py-0">
            <small class="text-muted text-right d-block">
                {{article.author.user_tag|safe}} &middot;
                {% trans 'Publish at' %} <time class="timeago" datetime="{{article.published|date:'c'}}"></time> &middot;
                {% trans 'Edit at' %} <time class="timeago" datetime="{{article.published|date:'c'}}"></time>
            </small>
        </section>
        <section class="box pt-0">
            {% for tag in article.tags.all %}
            <span class="badge badge-primary">{{tag.name}}</span>
            {% endfor %}
        </section>
        {% if article.is_article %}
        <section class="box">
            <div class="list-group">
            {% for attachment in article.attachments.all %}
                <a href="{{attachment.url}}" class="list-group-item list-group-item-action" target="_blank">{{attachment.name}}</a>
            {% endfor %}
            </div>
        </section>
        {% endif %}
        <section class="my-3">
            <h6 id='comment-title' class="title">{% trans 'Comment' %}</h6>
            <form class="clearfix box" id="comment-form">
                <input type="hidden" name="author" value="{{user.id}}">
                <input type="hidden" name="article" value="{{article.id}}">
                <div class="form-group">
                    <textarea name="content" class="form-control"></textarea>
                </div>
                <div class="form-group clearfix mb-0">
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary float-right ml-2">{% trans 'Submit' %}</button>
                    <button type="button" class="btn btn-secondary ml-2 float-right hidden-xs-up" id="cancel-reply">{% trans 'Cancel Reply' %}</button>
                    {% else %}
                    <a href="/users/login/" class="btn btn-primary float-right">{% trans 'Login to comment' %}</a>
                    {% endif %}
                </div>
            </form>
        </section>
        <section class="box">
            <ul class="list-unstyled mb-0" id="comment-box"></ul>
            <div id="load-more-comments" class="load-more">{% trans 'Load More' %}</div>
        </section>
    </article>
</div>

{% endblock %}

{% block scripts %}
<script>
    define('page-config', {
        articleId: {{article.id}}
    })
    require(['articles/detail'])
</script>
{% endblock %}
