{% extends "bases/base-with-header.html" %}

{% block content %}
<div class="container mt-3">
    <form id="edit-form" class="box clearfix">
        <input type="hidden" name="author" value="{{user.id}}">
        <div class="form-group">
            <label for="title" class="form-control-label">{% trans 'Title' %}</label>
            <input type="text" class="form-control" id="title" name="title" value="{{article.title}}">
        </div>
        <div class="form-group">
            <label for="tags" class="form-control-label">{% trans 'Tags' %}</label>
            <input type="text" name="tags" id="tags" class="form-control" value="{{article.tags.all|join:','}}">
        </div>
        {% if not article %}
        <div class="form-group">
            <label for="mentions" class="form-control-label">{% trans 'Mentions' %}</label>
            <input type="text" name="mentions" id="mentions" class="form-control">
        </div>
        {% endif %}
        <div class="form-group">
            <textarea name="content" id="content" cols="30" rows="10">{{article.content}}</textarea>
        </div>
        <button type="submit" class="float-right btn btn-primary">{% trans 'Submit' %}</button>
    </form>
    <div class="fileinput-button-container">
        <span class="btn btn-success fileinput-button" id="attachments">
            <span>{% trans 'Attachments' %}</span>
            <input type="file" name="file">
        </span>
    </div>
    <div class="box">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0; height: 2px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="file-box" class="row mx-0"></div>
        <h5 class="text-center py-5 no-files">{% trans 'No Files' %}</h5>
    </div>
</div>

{% verbatim %}
<template id="tmpl-file-item">
    <div class="media col-md-6 file-item">
        <div class="media-body clearfix">
            <h6 class="file-name font-weight-bold">{{name}}</h6>
            <time class="file-time timeago" datetime="{{created}}"></time>
        </div>
        <div class="d-flex align-self-center btn btn-danger file-cancel">
            <i class="fa fa-trash-o fa-2x"></i>
        </div>
    </div>
</template>
{% endverbatim %}

{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/trumbowyg/ui/trumbowyg.min.css">
<link rel="stylesheet" href="/static/file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/static/tagator/fm.tagator.jquery.min.css">
<script>
    define('page-config', {
        articleId: "{{article.id}}"
    })
    require(['articles/edit'])
</script>
<style type="text/css">
    div.file-cancel {
        background-color: transparent;
        color: inherit;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .fileinput-button-container {
        position: relative;
    }

    .fileinput-button {
        position: absolute;
        top: -4em;
        left: 1.5em;
    }

    .progress {
        background: transparent!important;
    }
</style>
{% endblock %}
