{% extends "bases/base-with-header.html" %}

{% block title %}{% trans 'Articles' %}{% endblock %}

{% block content %}

<template id="tmpl-article-top-nav-single">
    <li class="nav-item">
        <a href="#[[id]]" data-toggle="tab" class="nav-link" data-name="[[name]]">
            <i class="fa [[title.1]]"></i>
        </a>
    </li>
</template>

<template id="tmpl-article-top-nav-stacked">
    <li class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
            <i class="fa [[title.1]]"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            [[#items]]
            <a href="#[[id]]" class="dropdown-item" data-name="[[name]]" data-toggle="tab">[[title]]</a>
            [[/items]]
        </div>
    </li>
</template>

<template id="tmpl-article-side-nav-single">
    <li class="nav-item">
        <a href="#[[id]]" class="nav-link" data-name="[[name]]">[[title.0]]</a>
    </li>
</template>

<template id="tmpl-article-side-nav-stacked">
    <li class="nav-item py-2">
        [[title.0]]
    </li>
    [[#items]]
    <li class="nav-item">
        <a href="#[[id]]" class="nav-link" data-name="[[name]]">[[title]]</a>
    </li>
    [[/items]]
</template>

<template id="tmpl-tab-pane">
    <div class="tab-pane" id="[[id]]" data-name="[[name]]"></div>
</template>

<template id="tmpl-article">
    {% include 'articles/article-items-template.html' %}
</template>

<template id="tmpl-article-list-view">
    <ul class="list-unstyled box pt-0">
    [[#results]]
        [[>article]]
    [[/results]]
    </ul>
    [[#has_pagination]]
    <nav>
        <ul class="pagination box">
            [[#previous]]
            <li class="page-item">
                <a href="#" class="page-link" data-api="[[previous]]">{% trans 'Previous' %}</a>
            </li>
            [[/previous]]
            [[#next]]
            <li class="page-item">
                <a href="#" class="page-link" data-api="[[next]]">{% trans 'Next' %}</a>
            </li>
            [[/next]]
        </ul>
    </nav>
    [[/has_pagination]]
</template>

<div class="container mt-3">
    <ul class="nav nav-pills hidden-md-up nav-fill stiky bg-container" id="article-top-nav" data-s-top="60" data-s-z-index="9999"></ul>
    <div class="hidden-md-up box px-0 pb-0 pt-1">
        {% include 'articles/search-bar.html' %}
    </div>
    <div class="row">
        <div class="hidden-sm-down col-md-4">
            <div class="mb-2">
                {% include 'articles/search-bar.html' %}
            </div>
            <ul class="nav nav-pills flex-column stiky" id="article-side-nav" data-s-top="60" data-s-z-index="9999"></ul>
        </div>
        <div class="tab-content col-md-8"></div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    require(['articles/list', 'util/rest'], function (list, API) {
        var API = API.default
        var baseAPI = new API('/api/articles/')
        var makeAPI = function (arg) {
            return baseAPI.param('keyword', 'slug:' + encodeURIComponent(arg))
                .param('status', 'verified')
        }

        list.articleListManager.config([
            [['{% trans "Instant Messages" %}', 'fa-comment-o'], 'im'],
            [['{% trans "Academic Files" %}', 'fa-file-text-o'], [
                ['{% trans "Conference Files" %}', 'cf'],
                ['{% trans "Agreements and Treaties" %}', 'at'],
                ['{% trans "Declaration" %}', 'd']
            ]],
            [['{% trans "MPC Manuscripts" %}', 'fa-paperclip'], [
                ['{% trans "News" %}', 'n'],
                ['{% trans "Reviews" %}', 'r']
            ]]
        ], {
            im: makeAPI('Instant_Messages'),
            cf: makeAPI('Conference_Files'),
            at: makeAPI('Agreements_and_Treaties'),
            d:  makeAPI('Declaration'),
            bn: makeAPI('Brief_News'),
            n:  makeAPI('News'),
            r:  makeAPI('Reviews')
        }, 'im')
    })
</script>
{% endblock %}
