{% extends 'bases/base-with-header.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            {% include 'articles/search-bar.html' %}
            <ul class="list-unstyled box pt-0">
                {% include 'articles/article-items.html' with articles=results %}
            </ul>
            <nav>
                <ul class="pagination">
                    {% if previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{previous}}">{% trans 'Previous' %}</a>
                    </li>
                    {% endif %}
                    {% if next %}
                    <li class="page-item">
                        <a class="page-link" href="{{next}}">{% trans 'Next' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    require(['timeago'])
</script>
{% endblock %}
