<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - HSFZMUN</title>
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <script type="text/javascript" src="/static/requirejs/require.js"></script>
        <script>
            define('user-info', {
                authenticated: {{user.is_authenticated|yesno:'true,false'}},
                userId: parseInt('{{user.id}}')
            })
            var i18nInfo = {
                langCode: '{{LANGUAGE_CODE}}'
            }
            define('timeline-config', {{timeline_data|safe}})
            window.onerror = function (e) {document.write(e)}
        </script>
        <script type="text/javascript" src="/static/main.js"></script>
        {% block after_scripts %} {% endblock %}
    </head>
    <body>
        {% block timeline %}
        <div class="timeline alert alert-info">
            <i class="fa fa-clock-o" data-icons="angle-left clock-o"></i>
            <span></span>
        </div>
        {% endblock %}
        {% block body %} {% endblock %}
        <template id="tmpl-empty">
            {% include 'components/empty.html' with hide=True %}
        </template>
        <template id="tmpl-mask">
            {% include 'components/mask.html' %}
        </template>
        <script>require(['timeline'])</script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    </body>
</html>
