<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <script type="text/javascript" src="/static/requirejs/require.js"></script>
        <script>
            define('user-info', {
                authenticated: {{user.is_authenticated|yesno:'true,false'}},
                userId: parseInt('{{user.id}}')
            })
            var i18nInfo = {
                langCode: '{{LANGUAGE_CODE}}'
            }
        </script>
        <script type="text/javascript" src="/static/main.js"></script>
        {% block after_scripts %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/common.css">
    </body>
</html>
