{% include 'bases/base-with-header.html' %}

{% block content %}
<div class="jumbotron bg-inverse text-white">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="py-4 display-5">华附模联</h1>
                <h5 class="float-right text-muted d-inline text-center">——梦开始的地方，让理想不再彷徨</h5>
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="title">
                <a href="/articles/list/">{% trans 'Articles' %}</a>
            </div>
            <ul class="list-unstyled box pt-0 mb-3">
                {% include 'articles/article-items.html' %}
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="title">
                <a href="/articles/list/cf/">{% trans 'Conference Files' %}</a>
            </div>
            <ul class="list-unstyled box pt-0 mb-3">
                {% include 'articles/article-items.html' with articles=file_articles %}
            </ul>
        </div>

    </div>
</div>
<script>
    require(['timeago'])
</script>
{% endblock %}
