<nav class="navbar navbar-toggleable-md bg-primary navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#top-nav-bar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">NavBar</a>
    <div class="collapse navbar-collapse" id="top-nav-bar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/articles/" class="nav-link">Articles</a>
            </li>
        </ul>
    </div>
</nav>
