{% extends "bases/base-with-header.html" %}

{% block content %}
<div class="jumbotron bg-inverse text-white">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="{{user.avatar_url}}" class="rounded-circle avatar">
        </div>
        <div class="col-md-9 text-center">
            <h4>
                {{user.nickname}}
                <small class="text-muted">({{user.username}})</small>
            </h4>
            <div class="muted">
                {{user.description}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<style>
    img.avatar {
        width: 80px;
    }
</style>
{% endblock %}
