<article>
    <h3>{% trans 'User' %}</h3>
    <section class="py-1 pl-4">
        <a href="{% url 'admin:users_user_changelist' %}">{% trans 'User Management' %}</a>
    </section>
    <section class="py-1 pl-4">
        <a href="{% url 'admin:auth_group_changelist' %}">{% trans 'Permission Management' %}</a>
    </section>
    <section class="py-1 pl-4">
        <a href="{% url 'users:bulk-create' %}">{% trans 'User Creation Shortcut' %}</a>
    </section>
</article>
<article class="mt-1">
    <h3>{% trans 'Articles' %}</h3>
    <section class="py-1 pl-4">
        <a href="{% url 'admin:articles_article_changelist' %}">{% trans 'Article Management' %}</a>
    </section>
</article>
