<template id="tmpl-article">
    {% include 'articles/article-items-template.html' with only_article=True %}
</template>

<ul class="list-unstyled" id="article-box"></ul>

<div class="load-more" id="load-more-articles">{% trans 'Load More' %}</div>

<script>
    require(['util/tmpl', 'util/list', 'util/rest'], function (tmpl, list, API) {
        tmpl.verbatim()
        new list.List({
            $box: '#article-box',
            api: '/api/articles/user/{{user_object.username}}/',
            tmpl: 'article',
            $loadMore: '#load-more-articles'
        })

        $('#article-box').on('click', '.delete-article', function () {
            var $this = $(this), id = $this.data('id')

            if (confirm('Are you sure to delete?'))
                new API.default('/api/articles/' + id + '/').delete()
                    .ok(function () {
                        alert('OK!')
                        $this.closest('li.media').fadeOut()
                    })
        })
    })
</script>
