{% extends "bases/base-with-header.html" %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" action="{% url 'users:login' %}" class="box">
                {% csrf_token %}
                <div class="form-group {{form|errclass:'username'}}">
                    <label for="username" class="form-control-label">{% trans 'user name' %}</label>
                    <input type="text" class="form-control" id="username" name="username">
                    {{form|errtext:'username'}}
                </div>
                <div class="form-group {{form|errclass:'password'}}">
                    <label for="password" class="form-control-label">
                        {% trans 'password' %}
                        <small class="text-muted">({% trans 'Forget password? Contact administrator to reset your password' %})</small>
                    </label>
                    <input type="password" class="form-control" id="password" name="password">
                    {{form|errtext:'password'}}
                </div>
                {{form|errtext}}
                <button class="btn btn-primary d-block w-100">{% trans 'Log in' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
