html, body {
    max-width: 100%;
    overflow-x: hidden;
}

button {
    &:focus, &:active {
        outline: none;
    }
}

.tagator_element {
    width: 100%!important;
}

.h-scroll {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

textarea {
    resize: none;
}
