* {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'Hiragino Sans GB', 'Source Han Sans CN Normal', 'Microsoft YaHei', '微软雅黑', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}

a, .btn, button {
    cursor: pointer;
}

.trumbowyg-button-pane {
    display: flex;
    flex-flow: row wrap;
}

.trumbowyg-modal-box {
    width: 100%;
}

.red-point {
    position: relative;

    @mixin make-dot ($size) {
        position: absolute;
        background-color: red;
        right: - $size * 0.4;
        top: - $size * 0.25;
        width: $size;
        height: $size;
        border-radius: 50%;
        display: none;
    }

    .dot {
        @include make-dot(5px);
    }

    .dot.dot-2x {
        @include make-dot(10px);
    }
}

.navbar-inverse {
    .dropdown-menu {
        $bg: darken($inverse-bg, 3%);
        background-color: $bg;

        a {
            color: $navbar-inverse-color;
            @include hover-focus {
                color: $navbar-inverse-hover-color;
                background-color: $bg;
            }
        }
    }
}

html, body {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

.media-body {
    word-break: break-all;
}

.box {
    background-color: $container-bg;
    padding: 1.5em;
    margin: 0;

    .form-control {
        background-color: $container-bg;
    }

    .load-more {
        text-align: center;
        padding: .5em 0;
        //background-color: $gray-lighter;
        display: none;

        @include hover-focus {
            background-color: $gray-lightest;
            cursor: pointer;
        }
    }

    position: relative;

    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 5em;
        opacity: .7;
        display: none;
        background: $container-bg;
    }
}

.file-item {
    border: 1px dashed $gray-lighter;
    padding: .5em;
    margin-bottom: .25em;
}

.title {
    text-align: center;
    @extend .box;
    padding-bottom: 0;

    ::after {
        display: block;
        margin-top: 1em;
        content: "";
        border-bottom: 1px solid $gray-lighter;
    }
}

@include bg-variant('.bg-container', $container-bg);

button {
    &:focus, &:active {
        outline: none;
    }
}

.tagator_element {
    width: 100%!important;
    border-radius: 0;
    background-color: inherit;
}

.h-scroll {
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}
