.timeline {
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 1000;
    opacity: .7;
    border-radius: 0;
    display: none;
    overflow-y: hidden;
    margin: 0;

    span {
        display: none;
        max-height: 1em;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
