{% extends "bases/base-with-header.html" %}

{% block content %}
<div class="container mt-3 px-0">
    <div class="col-lg-10 offset-lg-1 px-0">
        <ul class="nav nav-pills h-scroll box">
            {% for item in categories %}
            <li class="nav-item">
                <a href="{{item.url}}"
                    class="nav-link {{item.class}}">
                    {% trans item.name %}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="list-group box pt-0">
            {% for notice in results %}
            <a href="{{notice.url}}"
                data-id="{{notice.id}}"
                class="list-group-item list-group-item-action flex-column align-items-start {% if not notice.has_read %}list-group-item-warning{% endif %}">
                <p class="mb-1">
                    {{notice.message}}
                </p>
                <small class="text-muted">
                    <time class="timeago" datetime="{{notice.created}}"></time>
                </small>
            </a>
            {% endfor %}
        </div>
        <ul class="pagination box pt-0">
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" id="mark-as-read">
                    <i class="fa fa-check-square-o text-success"></i>
                </a>
            </li>
            {% if previous %}
            <li class="page-item">
                <a href="{{previous}}" class="page-link">{% trans 'Previous' %}</a>
            </li>
            {% endif %}
            {% if next %}
            <li class="page-item">
                <a href="{{next}}" class="page-link">{% trans 'Next' %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    define('notices-view-info', {
        category: '{{current}}'
    })
    require(['notices/list'])
</script>
{% endblock %}
